@import './variables';
/**********************************start lose weigth styles**************************************/
.loseWeight{
    @include coverLibrary;
}
.loseWeightImg{
    width: 80%;
}
/**********************************end lose weigth styles**************************************/
/**********************************start coaches styles***************************************/
.h2Trainers{
    background-color: #F1702B;
    width: 200px;
    border-radius: 25px;
    height: 40px;
    line-height: 40px;
    h2{
        color: white;
        text-align: center;
    }
}

.cardCoaches{
    background-color: #33778A !important;
    p{
        color: white;
    }
    .star{
        color:#F1702B ;
    }
    .ptnPlans{
        width: 150px;
    }
    .coachName{
        font-size: 1.2rem;
    }
}
/**********************************end coaches styles**************************************/

