@import './variables';

.loseWeight{
    @include coverLibrary;
}
.loseWeightImg{
    width: 80%;
}

.h2Trainers{
    background-color: #F1702B;
    width: 200px;
    border-radius: 25px;
    height: 40px;
    line-height: 40px;
    h2{
        color: white;
        text-align: center;
    }
}