.profileCard{
    border-radius: 50px;
}

.proImg{
    width: 20%;
}
.cardRev{
    border-radius: 30px;
}
.speciality{
    background-color: #EAEAEA;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
.general{
    width: 150px;
}
.aboutMe{
    text-decoration: underline;
    font-weight: bold;
}
